/* --- Form Container --- */
.form-container {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

/* --- Headings --- */
.form-container h1 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--color-text-primary);
  margin-bottom: 0.5rem;
}

.form-container p.subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-text-secondary);
}

/* --- Input Fields --- */
.input-container {
  margin-bottom: 1rem;
}

.input {
  width: 112%;
  padding: 1rem;
  border: None;
  border-radius: 20px;
  background-color: var(--color-primary-light);
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  color: var(--color-text-secondary);
  margin: 1.2rem 0 1.2rem 0;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(184, 73, 151, 0.15);
}

/* --- Buttons --- */
.form-button {
  width: 28%;
  padding: 1rem;
  border: none;
  border-radius: 32px;
  background-color: var(--color-primary-dark);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 1rem;
}

.form-button:hover {
  background-color: var(--color-button-hover);
}

/* .form-container span,
.form-container a {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  text-decoration: none;
} */

.form-reroute {
  font-size: 1.1rem;
  text-decoration: none;
}

.form-reroute a:hovera:hover {
  text-decoration: underline;
}

.password_reset {
  text-decoration: none;
  color: black;
  text-align: right;
  width: 112%;
}

/* toggle switch */
.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid var(--color-primary-dark);
  border-radius: 20px;
  background: var(--color-primary-dark);
  font-weight: bold;
  color: #343434;
  cursor: pointer;
  margin-bottom: 1.6rem;
}
.toggleContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 20px;
  background: white;
  transition: all 0.3s;
}
.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}
.toggleCheckbox {
  display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
  color: var(--color-primary-dark);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
  color: var(--color-primary-dark);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}
