.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 84vh;
  width: 100%;
  align-items: center;
  font-family: var(--fontstyle);
}

.image-column,
.form-column {
  grid-row: 1;
}

.form-column {
  // margin-left: 10rem;
}

.landing-left {
  margin-left: 10rem;

  h1 {
    color: var(--color-text-primary);
    font-size: clamp(2rem, 8vw, 4rem);
  }

  p {
    color: var(--color-text-secondary);
    font-size: clamp(0.8rem, 4vw, 1.6rem);
    margin-bottom: 5rem;
  }

  .btn {
    width: 16%;
    padding: clamp(0.8rem, 1.2rem, 1.4rem);
    border: none;
    border-radius: 40px;
    background-color: var(--color-primary-dark);
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    padding: clamp(12px, 2vw, 20px) clamp(20px, 3vw, 46px);
    font-size: clamp(0.8rem, 3.2vw, 2rem);
  }

  .btn:hover {
    background-color: var(--color-button-hover);
  }
}

@media (max-width: 768px) {
  video {
    display: none;
  }

  .landing-left {
    margin-left: 6rem;
  }
}
